<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
	</dict>
	<key>10.11.1-15B42</key>
	<array>
	  <string>15A178w</string>
	  <string>15A263e</string>
	  <string>15A282b</string>
	  <string>15A284</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
	    <string>RemoteDesktopClient</string>
	    <string>iTunes</string>
	    <string>SafariYo</string>
	    <string>SecurityYo</string>
		</array>
	</dict>
	<key>10.11-15B42</key>
	<array>
		<string>iTunes</string>
		<string>DCRAW</string>
	</array>
	<key>PublicationDate</key>
	<date>2015-07-17T19:20:02Z</date>
	<key>Updates</key>
	<dict>
		<key>DCRAW</key>
		<dict>
			<key>name</key>
			<string>Digital Camera RAW Compatibility Update 6.17</string>
			<key>sha1</key>
			<string>2d1e5875cdfecde5354368865a6f06c9b9b66aea</string>
			<key>size</key>
			<integer>7930553</integer>
			<key>url</key>
			<string>https://support.apple.com/downloads/DL1844/en_US/rawcameraupdate6.dmg</string>
		</dict>
		<key>RemoteDesktopClient</key>
		<dict>
			<key>name</key>
			<string>Remote Desktop Client Update 3.8.4</string>
			<key>sha1</key>
			<string>45f0b439a8841cc9604e8c0dbaa4f3c171258340</string>
			<key>size</key>
			<integer>7273865</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/37/16/031-21283/etbobep7bor00raxv1bf5xkzuu5lqi9fku/RemoteDesktopClient.pkg</string>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.3</string>
			<key>sha1</key>
			<string>3747c6f9b0f1e16fe083cb84a39989bab5de2688</string>
			<key>size</key>
			<integer>250744828</integer>
			<key>url</key>
			<string>https://secure-appldnld.apple.com/itunes12/031-24466-20150916-d64338f2-5c68-11e5-8940-c95c6da99cb1/itunes12.3.dmg</string>
		</dict>
    <key>SafariYo</key>
    <dict>
	    <key>name</key>
	    <string>Safari 9.0.1 for Yosemite</string>
	    <key>sha1</key>
	    <string>8a15d48c94d7b04f89cb3b3faff0dfcc8f7c1859</string>
	    <key>size</key>
	    <integer>85405995</integer>
	    <key>url</key>
	    <string>http://swcdn.apple.com/content/downloads/41/44/031-34808/tvl6cc1s49tnt817tyrgsr40dlm4i3cvev/Safari9.0.1Yosemite.pkg</string>
    </dict>
    <key>SecurityYo</key>
    <dict>
      <key>name</key>
      <string>Security Update 2015-004 Yosemite</string>
      <key>sha1</key>
      <string>8954568c5062fa6213ecad98ee42cfe422b8ff86</string>
      <key>size</key>
      <integer>334707669</integer>
      <key>url</key>
      <string>https://support.apple.com/downloads/DL1847/en_US/secupd2015-004yosemite.dmg</string>
    </dict>
	</dict>
</dict>
</plist>
