<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivePowerProfiles</key>
	<dict>
		<key>AC Power</key>
		<integer>-1</integer>
	</dict>
	<key>Custom Profile</key>
	<dict>
		<key>AC Power</key>
		<dict>
			<key>Automatic Restart On Power Loss</key>
			<true/>
			<key>Disk Sleep Timer</key>
			<integer>0</integer>
			<key>Display Sleep Timer</key>
			<integer>0</integer>
			<key>Hibernate File</key>
			<string>/var/vm/sleepimage</string>
			<key>Hibernate Mode</key>
			<integer>0</integer>
			<key>PrioritizeNetworkReachabilityOverSleep</key>
			<integer>0</integer>
			<key>Sleep On Power Button</key>
			<integer>1</integer>
			<key>System Sleep Timer</key>
			<integer>0</integer>
			<key>TTYSPreventSleep</key>
			<integer>1</integer>
			<key>Wake On LAN</key>
			<integer>1</integer>
		</dict>
		<key>Defaults</key>
		<true/>
	</dict>
</dict>
</plist>
