<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>2807</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.0</string>
	<key>GitRevision</key>
	<string>143fb90af4ac39d4f2ed6611cc793cf5bc452a7a</string>
</dict>
</plist>
